In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel('../source/anthropogenic_mass_2015.xlsx', usecols=(0,1,2,3,4,5,6,7))
data.tail()

,Year,concrete,aggregates (gravel etc.),bricks,asphalt,metals,other (plastic etc.),waste
111,2011,0.335820,0.314733,0.079071,0.055001,0.029322,0.019457,0.234627
112,2012,0.355099,0.322283,0.080495,0.056080,0.030283,0.019834,0.243201
113,2013,0.375763,0.329753,0.081841,0.057102,0.031322,0.020234,0.252147
114,2014,0.396741,0.337347,0.083149,0.058075,0.032345,0.020682,0.261476
115,2015,0.417198,0.344460,0.084432,0.059013,0.033346,0.021163,0.271154

In [10]:
data = data.rename(columns = {'concrete': 'concrete_Tt',
                    'aggregates (gravel etc.)': 'aggregates_Tt',
                    'bricks': 'bricks_Tt',
                    'asphalt': 'asphalt_Tt',
                    'metals': 'metals_Tt',
                    'other (plastic etc.)': 'other_Tt',
                    'waste': 'waste_Tt'})

In [12]:
total = data['concrete_Tt'].values + data['aggregates_Tt'].values + data['bricks_Tt'].values + data['asphalt_Tt'].values + \
         data['metals_Tt'].values + data['other_Tt'].values + data['waste_Tt'].values
    
data['total_Tt'] = total

In [15]:
data.to_csv('anthopogenic_mass_2015_processed.csv')