# Data Analysis for 'The Physical Footprint of Agriculture'

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import anthro.viz
import anthro.stats
colors = anthro.viz.plotting_style()

In this notebook, we explore the data associated with the vignette "The Physical Footprint of Agriculture". This notebook relis on a body of data from the FAOSTAT database on global agricultural yields and from the Alltech Global Feed Survey (GFS) which quantifies the mass of livestock feed produced annually. This notebook will change as more data is added and/or removed.

## Exploring the Species Breakdown of Livestock and Livestock Products

In [9]:
# Load the FAOSTAT data 
livestock_pop = pd.read_csv('../../data/agriculture/FAOSTAT_livestock_population/processed/FAOSTAT_livestock_population.csv')
livestock_prod = pd.read_csv('../../data/agriculture/FAOSTAT_livestock_product_produced/processed/FAOSTAT_livestock_and_product.csv')
feed_prod = pd.read_csv('../../data/agriculture/alltech_global_feed_survey/processed/alltech_feed_species_breakdown.csv')

In [10]:
livestock_pop

      animal  year  population_Mhd
0        ass  1961       36.958302
1        ass  1962       35.599457
2        ass  1963       35.371329
3        ass  1964       36.118309
4        ass  1965       36.766287
...      ...   ...             ...
1039  turkey  2014      448.581000
1040  turkey  2015      445.796000
1041  turkey  2016      465.359000
1042  turkey  2017      464.073000
1043  turkey  2018      466.787000

[1044 rows x 3 columns]